rich
typer
scipy
numba
pandas
plotly
numpy<2  # For pyscm-ml
openpyxl
umap-learn
matplotlib
coloredlogs
scikit-learn
dash
dash-bio
dash-table
dash-renderer
dash_cytoscape
dash-core-components
dash-html-components
dash-bootstrap-components
dash_interactive_graphviz
pyscm-ml
randomscm